# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Ruff
.ruff_cache/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Local secrets
.env

# Temporary files
tmp/

# Large Objects
infra/hive/cache/*.jar

# Credential
infra/hive/conf/core-site.xml
infra/trino/etc/catalog/iceberg.properties