lakehouse_mlops_aiops_lab_trino:
  target: dev
  outputs:
    dev:
      type: trino
      method: none
      host: ${TRINO_HOST}
      port: ${TRINO_PORT}
      user: ${TRINO_USER}
      catalog: ${TRINO_CATALOG}
      schema: ${TRINO_SCHEMA}
      threads: 4